main {
    margin-top: 3em;
}

#reset_title {
    width: 100%; 
    text-align:center;
    font-weight: 700;
    font-size: calc(15px + 1vw);
}

#reset_input_container {
    flex-direction: column;
}

.form_row {
    margin-top: 1em;
}