<select class="form_input" name="course" id="course">
    <option value="" disabled selected hidden>Course</option>
    {{#each courses}}
    <option value="{{id}}">{{module_code}} {{name}}</option>
    {{/each}}
</select>
