<a href="#" class="logo">
    <img id="logo" src="../imgs/logos/uol_logo.svg" alt="University of London logo" />
    <!--<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by kmg design - Flaticon</a>-->
</a>

<a id="burger_icon" href="javascript:void(0);" class="icon" onclick="showNavigationMenu()">
    <i class="fa fa-bars"></i>
</a>

<div id="navigation_links_container" class="nav_right">
    <div id="close_icon_container" class="dropdown">
        <a id="close_icon_link" class="" onClick="closeMenu()"><p>&times;</p></a>
    </div>

    <div id="dropdown_1" class="dropdown">
        <a id="dropbtn_1" class="dropbtn" onClick="switchContentVisibility(1)">
            <p>Books</p>
            <i class="fa fa-caret-down" id="caret_down_1"></i>
        </a>
        <div id="dropdown_content_1" class="dropdown-content">
            <a href="#">See all books</a>
            <a href="#">Add a book</a>
            <a href="#">Edit a book</a>
        </div>
    </div>
    <div id="dropdown_2" class="dropdown">
        <a id="dropbtn_2" class="dropbtn" onClick="switchContentVisibility(2)">
            <p>Courses</p>
            <i class="fa fa-caret-down" id="caret_down_2"></i>
        </a>
        <div id="dropdown_content_2" class="dropdown-content">
            <a href="#">See all courses</a>
            <a href="#">Add a course</a>
            <a href="#">Edit a course</a>
        </div>
    </div>

    <div class="dropdown" id="dropdown_3">
        <a id="dropbtn_3" class="dropbtn" onClick="switchContentVisibility(3)">
            <img src="../imgs/user_profiles/default_profile.png" alt="Avatar" class="avatar" />
            <p id="profile_name">Profile</p>
            <i class="fa fa-caret-down" id="caret_down_3"></i>
        </a>
        <div id="dropdown_content_3" class="dropdown-content">
            <a href="#">Log Out</a>
            <a href="./profile_page.html">Settings</a>
        </div>
    </div>
</div>
